.logo-name,
.logo-name2 {
    border-radius: 18px;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
}

#footer {
    font-size: 16px;
    color: #fff;
    background-color: #1D2F6F;
}

.logofooter {
    text-decoration: none;
}

.logofooter img {
    height: 23.6px;
    border-radius: 10px;
}

main {
    margin: auto;
    background-color: inherit;
    margin-bottom: 23.6px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#search {
    height: 25px;
    width: 300px;
    margin: 10px 0;
    margin-left: 10px;
    font-size: 14px;
    border-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.navbar button,
.submit {
    background-color: #0073b1;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-family: inherit;
    padding: 0 30px;
    margin: 5px 10px;
    margin-right: 0;
    margin-bottom: 0;
    height: 30px;
    border-radius: 28px;
    font-weight: normal;
    background-color: #2977c9;
}

.navbar button:hover,
.submit:hover {
    background-color: #006097;
}

.navbar a {
    text-decoration: none;
    color: white;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #60a9ff;
    }

    .logo-name {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    .logo-name2 {
        display: none;
    }
}

.bg-dark {
    background-color: #1D2F6F !important;
}

#addbtn {
    width: 50px;
    position: absolute;
    right: 10px;
    bottom: 70px;
}

body {
    position: relative;
}